<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="d8fa5210-1ca0-442d-9c7d-6af6c95d0129" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-03-12T20:35:01" updateDate="2019-03-12T20:36:21" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="Mark Challis" writerName="Mark Challis" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <blog id="1057" key="50a19158-0e6a-4813-9c64-4da8c6424e3e" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2019-03-12T22:32:34" updateDate="2019-03-12T22:32:34" nodeName="Blog" urlName="blog" path="-1,1054,1057" isDoc="" nodeType="1056" creatorName="Mark Challis" writerName="Mark Challis" writerID="0" template="1055" nodeTypeAlias="blog" isPublished="true" />
    <portfolio id="1060" key="6d43af91-491a-4baf-88f7-9f50dd48bece" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2019-03-13T08:53:53" updateDate="2019-03-13T08:53:53" nodeName="Portfolio" urlName="portfolio" path="-1,1054,1060" isDoc="" nodeType="1059" creatorName="Mark Challis" writerName="Mark Challis" writerID="0" template="1058" nodeTypeAlias="portfolio" isPublished="true" />
    <content id="1063" key="26d6bba8-0783-4ff1-bb54-16b57eedac64" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2019-03-13T19:15:54" updateDate="2019-03-13T19:18:06" nodeName="About" urlName="about" path="-1,1054,1063" isDoc="" nodeType="1062" creatorName="Mark Challis" writerName="Mark Challis" writerID="0" template="1061" nodeTypeAlias="content" isPublished="true" />
    <contact id="1066" key="b016c89a-851b-497a-8594-e894c1e6f3a4" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2019-03-13T19:43:03" updateDate="2019-03-13T19:43:03" nodeName="Contact" urlName="contact" path="-1,1054,1066" isDoc="" nodeType="1065" creatorName="Mark Challis" writerName="Mark Challis" writerID="0" template="1064" nodeTypeAlias="contact" isPublished="true" />
  </home>
</root>